// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

body {
  fill: none;
  @include noselect;
}

#sidebar {
  @include noselect;
}

.subunit.SCT { fill: #ddc; }
.subunit.WLS { fill: #cdd; }
.subunit.NIR { fill: #cdc; }
.subunit.ENG { fill: #dcd; }

.subunit.IRL,
.subunit-label.IRL {
  display: none;
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-boundary.IRL {
  stroke: #aaa;
}

.county-boundary {
  fill: none;
  stroke: steelblue;
  stroke-linejoin: round;
  stroke-width: 2.5px;
}

.postalarea-boundary {
  stroke: #fff;
  stroke-width: 0.2px;
  stroke-linejoin: round;
}

.postalareas {
  stroke: #fff;
  stroke-width: 0.03px;
  stroke-linejoin: round;
}

.postalareas.active {
  fill: orange;
}

.postalareas.selected {
  fill: red;
}

.postaldistricts {
  stroke: #fff;
  stroke-width: 0.05px;
}

.caption {
  fill: black;
  font-weight: bold;
}

.key {
  @include noselect;
  fill: black;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}