<footer class="small-12 columns">
	<h6 class='subheader'>
       by <a href="https://github.com/samuelleach/censusview">Samuel Leach</a>, with inspiration
       from the <a href="http://bl.ocks.org/mbostock/5562380">examples</a> of Mike Bostock.
       <a href="http://geolytix.co.uk/geodata/postal-boundaries">Map shapefiles</a>
       (processed with <a href="http://www.gdal.org">ogr2ogr</a> and <a href="https://github.com/samuelleach/uk-atlas">compressed</a> with topojson) and
       <a href="http://geolytix.co.uk/geodata/census">2011 Census data</a> via Geolytix,
       <a href="https://github.com/samuelleach/uk-census">reprocessed with python</a> using
       <a href="http://www.ons.gov.uk/ons/guide-method/geography/products/census/lookup/other/index.html">
       postcode to Census Output Area look-up files</a> from the Office of National Statistics.
       Polygon areas calculated using <a href="http://www.qgis.org/">QGIS</a>.
       Data rendered with <a href="http://d3js.org">D3</a>.
       Colors by <a href="http://colorbrewer2.org">Colorbrewer</a>. Search with <a href="http://twitter.github.io/typeahead.js/">typeahead</a>. Styling with <a href="http://foundation.zurb.com">Foundation</a>.
       Created at <a href="https://generalassemb.ly/london">General Assembly, London</a> (June 2013).
</footer>