<footer class="small-12 columns">
	<h6 class='subheader'>
       By <a href="https://github.com/samuelleach/censusview">Samuel Leach</a>.
       <a href="https://github.com/samuelleach/uk-atlas">Map data</a> compressed with topojson, and
       <a href="https://github.com/samuelleach/uk-census">census data</a> via <a href="http://">Geolytix</a>.
       Data rendered with <a href="http://d3js.org">D3</a>.
       Colors by <a href="http://colorbrewer2.org">Colorbrewer</a>.
</footer>